p {
    margin: 0px;
}
.navbar {
    padding: 5px 0px;
    background-color: #fff;
    box-shadow: 0 5px 15px rgb(120 124 139 / 4%);

    a {
        font-size: 16px;
        color: black;
        display: flex;
        align-items: center;
    }
    .menu {
        &--button {
            display: inline-block !important;
        }
        &--buttons {
            .button:not(:first-child) {
                margin: 0 0 0 9px;
            }
        }
    }
}
.dashboard {
    background-color: #f4f5f9;
}
a {
    text-decoration: none;
}
a.button {
    font-size: 16px;
    &__whiteorange {
        line-height: 1.1875;
        background: #fff;
        border: 1px solid #009ce6 !important;
        color: #009ce6;
        padding: 15px 30px;
        border-radius: 3px;
        transition: background 0.5s linear;
        position: relative;
        z-index: 1;
    }
    &__orange {
        line-height: 1.1875;
        color: #fff;

        background: linear-gradient(
            -90deg,
            #009ce6,
            #09a2e9,
            #16acf1,
            #34b8f5,
            #62c6f5
        );
        border: 1px solid #009ce6 !important;
        padding: 15px 30px;
        border-radius: 3px;
        transition: background 0.5s linear;
        position: relative;
        z-index: 1;
    }
}
.logo {
    width: 120px;
}
