.location_container {
    h2 {
        font-size: 40px;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        background: -webkit-linear-gradient(
            #009ce6,
            #09a2e9,
            #16acf1,
            #34b8f5,
            #62c6f5
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .location_wrapper {
        align-content: center;
        justify-content: space-around;
        align-items: center;
        margin: 80px 0px;
    }
    .location_sections {
        display: flex;
        align-content: center;
        justify-content: space-between;
        align-items: center;
    }

    img {
        width: 800px;
        margin-top: 60px;
    }

    p {
        font-size: 28px;
        margin-bottom: 10px;
        text-align: center;
    }
}
