.profile_section_label {
    display: block;
    padding: 0.375rem 0.75rem;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #212529;
    background-color: #f8fafc;
    background-clip: padding-box;
    border: 1px solid #009ce6;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.profile_wrapper {
    width: 1000px;
    margin-top: 80px;
    padding: 50px;
    background-color: white;
}


.col-6 {
    margin-top: 15px;
}
.col-4 {
    margin-top: 15px;
}

.profile_section_photo_img {
    width: 120px;
}
.profile_section_photo {
    display: flex;
    justify-content: center;
    align-content: center;
}
.profile_section_content {
    margin-top: 40px;
}
.profile_section_name {
    font-size: 28px;
    font-weight: bold;
    color: #009ce6;
    text-align: center;
    margin-top: 10px;
}
